Flask==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
nltk==3.8.1
TextBlob==0.17.1
textstat==0.7.3
googletrans==4.0.0rc1
language-tool-python==2.7.1
SpeechRecognition==3.10.0
PyAudio==0.2.13
pyttsx3==2.90
spacy==3.0.9
spacy-legacy==3.0.12
spacy-loggers==1.0.5
thinc==8.0.17
wasabi==0.10.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#sha256=0673b3ce4a28a19e99dc0fc3f8f7fe67b936c41749e6b70f778ec5f9f78f3a66
setuptools
wheel
pip
crochet==2.1.1
Twisted==23.10.0
incremental==22.10.0
constantly==23.10.4
Automat==22.10.0
zope.interface==6.2
twisted-iocpsupport==1.0.4
hyperlink==21.0.0
pyOpenSSL==24.0.0
service-identity==24.1.0
cryptography==42.0.5
cffi==1.15.1
pycparser==2.21
idna==2.10
requests==2.28.1
urllib3==1.26.12
certifi==2022.9.24
charset-normalizer==2.1.1
numpy==1.23.5
blis==0.7.11
cymem==2.0.8
murmurhash==1.0.10
preshed==3.0.9
regex==2023.10.3
tqdm==4.64.1
PyYAML==6.0
