<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plagarism</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/st.css" />
  </head>
  <body>
    <div class="icon-bar">
      <div>
        <a class="logo" class="active" href="#"> LingoCraft </a>
      </div>
      <div class="inner-div">
        <div>
          <a class="active" href="/">Grammar</a>
        </div>
        <div>
          <a class="active" href="/translate">Translation</a>
        </div>
        <div>
          <a class="active" href="/summarize">Summarize</a>
        </div>
        <div>
          <a class="active" href="/check">Plagarism</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div>
        <form method="post" enctype="multipart/form-data">
          <label id="text"
            >Enter text to check Plagarism <b>or</b>
            <!-- <button class="btn btn-info btn-sm" id="start-button">Upload pdf or docx</button> -->
            <p></p>
          </label>
          <textarea
            class="form-control"
            placeholder="Enter text"
            name="plaintext"
            rows="8"
            id="result"
          >
{{plain}}</textarea
          >
          <br />
          <input
            type="submit"
            value="Check Plagarism"
            class="btn btn-primary"
          />
        </form>
      </div>

      <div>
        <form>
          <br />
          {% if outp %}
          <label id="text"
            >Plagarism Results :-
            <p></p
          ></label>
          {% for msg in outp: %}
          <p><b>{{msg}}</b></p>
          {% endfor %}
          <br />
          {% endif %}
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
