<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plagarism</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/st.css" />
  </head>
  <body>
    <div class="icon-bar">
      <div>
        <a class="logo" class="active" href="#"> LingoCraft </a>
      </div>
      <div class="inner-div">
        <div>
          <a class="active" href="/">Grammar</a>
        </div>
        <div>
          <a class="active" href="/translate">Translation</a>
        </div>
        <div>
          <a class="active" href="/summarize">Summarize</a>
        </div>
        <div>
          <a class="active" href="/info">Plagarism<p style="font-size: small; color:red">(Comming Soon!!!)</p></a>
        </div>
      </div>
    </div>

    <img src="{{ url_for('static', filename='preview.png') }}" style="display: block; margin: 0 auto; width: 600px; height: 300px;" alt="Preview Image">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#start-button").click(function (eve) {
          eve.preventDefault();
          $.post("/record_audio", function (data) {
            $("#result").val(data.text);
          });
        });

        $("#speak-button").click(function (eve) {
          eve.preventDefault();
          var textToSpeak = $("#text-to-speak").val();
          $.post(
            "/speak",
            {
              text_to_speak: textToSpeak,
            },
            function () {}
          );
        });
      });
    </script>
  </body>
</html>
